<!DOCTYPE html>
<html>
<head>
  <link href="{{ url_for('static', filename='css/style.css') }}?v=1" rel="stylesheet">
  <title>OpenSourceProject</title>
</head>
<body>
  <div class="search-input">
    <label for="location">지역:</label>
    <form method="GET" action="/search">
      <input type="text" id="location" name="location">
      <input class="search-button" type="submit" value="조회">
    </form>
    <div class="result-container">
      {% if result %}
        {% for row in result %}
          <div class="name-box">{{ row[0] }}</div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</body>
</html>
